<form action="/login" method="post">
    <label for="username">Username: </label>
    <input id="username" name="username" type="text">
    
    <label for="password">Password: </label>
    <input id="password" type="password" name="password">
    <input type="submit" value="Login">
</form>
